<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title th:text="'Appointment is not success'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333333; max-width: 600px; margin: 0 auto; padding: 20px;">
<div style="border-radius: 5px; text-align: center;">
    <img src="https://ucarecdn.com/af109399-1b41-4387-81fa-8e09fb7fbfbf/unsuccessfullybanner.png" alt="Logo" style="max-width: 600px; height: auto;"/>
</div>

<div style="padding: 20px; background-color: #ffffff; border-radius: 5px; margin-top: 20px;">
    <h2 style="color: #0b2b45;">Hello, <span th:text="${name}"></span>!</h2>

    <p>We are sorry to inform you that your appointment is not successful.</p>

    <p>If you need to reschedule or add a new appointment, please contact us at least 24 hours in advance.</p>

    <p>For any questions or concerns, please don't hesitate to reach out to our support team.</p>

    <a href="tel:0779882060"
       style="display: inline-block; background-color: #0b2b45; color: #ffffff; text-decoration: none; padding: 10px 20px; border-radius: 5px; margin-top: 20px; display: block;">Call
        011 123 4560</a>
</div>

<div style="text-align: center; margin-top: 20px; font-size: 14px; color: #666666;">
    <p>©️ CAR SERVICE CENTER. All rights reserved.</p>
    <p>CAR SERVICE CENTER, Colombo, Sri Lanka</p>
    <p>Phone: +94 11 123 4560 | Email: info@carservice.com</p>
</div>
</body>
</html>
